body{
	background-color: black;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
.header{
   position: absolute;
   top: 10px; 
   margin-left: 18%;
   font-size: 150px;
   font-family: Impact, Charcoal, sans-serif; 
}
.header2{
	text-align: center;
	color: white;
}

button{
	position: relative;
	top: 10px;
	margin-right: 10px;
	font-size: 10px; 
	width: 8%; 
	height: 25px;
	color: white;
	background-color: #00BFFF; 
	border-radius: 10px;
}
.button-set{
	text-align: center;
}
.button{
	position: relative;
	top: 20px;
	font-size: 10px; 
	width: 8%; 
	height: 25px;
	color: white;
	background-color: #00BFFF; 
	border-radius: 10px;
}
.end-image{
	position:relative;
	top: 20px;
	text-align: center;

}
#output{
	text-align: center;
	font-size: 17px;
	color: red;
	font-family: "Lucida Console", Monaco, monospace; 
	font-weight: bold;
}
#feedBack{
	text-align: center;
	font-size: 15px;
	color: #34EE34;
	font-family: "Lucida Console", Monaco, monospace; 
}
#moreHint{
	text-align: center;
	font-size: 15px;
	color: blue;
	font-family: "Lucida Console", Monaco, monospace; 
}
.loser{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
	color: white;
}
#winImage{
	width: 30%;
	height: 30%;
	display: none;
}
#loseImage{
	width: 50%;
	height: 50%;
	display: none;
}